<div class="container">

  <div class="row">
    <div class="col-6 text-center mx-auto">
      <h1>本当に退会しますか？</h1>
    </div>

    <div class="col-12 text-center mx-auto">
      <h5>
        退会すると、会員登録情報や<br>
        これまでの投稿履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </h5>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-2 text-center">
      <%= link_to "退会しない", end_users_my_page_path, class: "btn btn-primary" %>
    </div>

    <div class="col-2 text-center">
      <%= link_to "退会する", end_users_withdrawn_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger" %>
    </div>
  </div>
</div>