<h4>いいね一覧</h4>

<table class="table">
  <% @favorite_posts.each do |post| %>
    <thead>
      <tr>
        <th>ニックネーム</th>
        <th>タイトル</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= post.end_user.name %></td>
        <td><%= link_to post.title, post_plamo_path(@post_plamo) %></td>
      </tr>
    </tbody>
  <% end %>
</table>