<div class="container my-5">
  <div class="row my-3 offset-2">
    <div class="col-4">
      <h4><レビュー一覧></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-7 mx-auto">
      <table class="table text-white">
        <thead class="thead-light">
          <tr>
            <th>投稿日時</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <tbody>
        <% @post_reviews.each do |post_review| %>
          <td>
            <%= link_to post_review_path(post_review) do %>
              <%= post_review.created_at.strftime("%Y/%m/%d %H:%M:%S") %>
            <% end %>
          </td>
          <td><%= post_review.title %></td>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <!--<div class="row">-->
  <!--  <div class="col-1 mx-auto">-->
  <!--    <#%= paginate @post_plamos %>-->
  <!--  </div>-->
  <!--</div>-->
</div>