<div class="container my-5">
  <div class="row my-3 justify-content-between offset-1">
    <div class="col-4">
      <h4>参考になった一覧</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-10 mx-auto">
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th>ニックネーム</th>
            <th>タイトル</th>
          </tr>
        </thead>
        <% @useful_posts.each do |post| %>
        <tbody>
          <tr>
            <td><%= post.end_user.name %></td>
            <td><%= link_to post.title, post_review_path(post) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>