<div class="col-5">
  <div class="slider">
    <% post_plamo.plamo_images.each do |images| %>
      <%= image_tag images, class:"img" %>
    <% end %>
  </div>
  <div class="thumbnail">
    <% post_plamo.plamo_images.each do |images| %>
      <%= image_tag images, class:"img" %>
    <% end %>
  </div>
</div>