<div class="container">
  <div class="row mx-auto">

    <%= render 'public/post_reviews/reviewimage-slider', post_review: @post_review %>

    <div class="col-6 mt-5 ml-5">
      <div>
        <%= link_to "削除する", admin_post_review_path(@post_review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
      </div>

      <%= render 'public/post_reviews/review-form', post_review: @post_review %>

    </div>
  </div>
</div>