<div class="container">
  <div class="row">
    <% flash.each do |message_type, message| %>
      <div class="flash-message <%= message_type %>"><%= message %></div>
    <% end %>
  </div>

  <div class="row mt-5 top-text">
    <div class="col-6 mx-auto text-center text-white">
      <h1>Production of Plamo</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6 mx-auto text-white">
      <h5>このサイトは自分で制作したプラモデル作品を投稿したり、<br>
         プラモデル制作に使用した道具などを紹介するサイトです。<br>
      </h5>
      <h5 class="text-center">時間の許す限り、楽しんでいってください！！</h5>
    </div>
  </div>

  <!--<div class="row mt-5">-->
  <!--  <div class="col-6 mx-auto">-->
  <!--    <div class="top-slider">-->
  <!--      <div class="top-slick-slide"><#%= image_tag 'background_sample.jpeg', size: '200x200' %></div>-->
  <!--      <div class="top-slick-slide"><#%= image_tag 'background_sample2.jpeg', size: '200x200' %></div>-->
  <!--      <div class="top-slick-slide"><#%= image_tag 'no_image.jpg', size: '200x200' %></div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</div>-->
</div>