<div class="container">
  <div class="row mt-5">
    <div class="col-10 mx-auto text-center">
      <h1>Production of Plamo</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <h5>このサイトは自分で制作したプラモデル作品を投稿したり、<br>
         プラモデル制作に使用した道具などを紹介するサイトです。<br>
      </h5>
      <h5 class="text-center">時間の許す限り、楽しんでいってください！！</h5>
    </div>
  </div>

  <div class="row offset-1 mt-3">
    <% @post_plamos.first(3). each do |post_plamos| %>
    <div class="col-3 mx-3">
      <div class="card-deck my-3">
        <div class="card text-center pt-2" style="width: 10rem;">
          <a><%= image_tag post_plamos.get_plamo_images[0], class:"card-imag-top", size:"200x200" %></a>

          <div class="card-body">
            <div class="row">
              <div class="col-10 mx-auto">
                <p class="card-text text-left">
                  <%= post_plamos.title %>
                </P>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>