<div class="container">
  <div class="row mt-5">
    <div class="col-10 mx-auto text-center">
      <h1>Production of Plamo</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-6 mx-auto">
      <h5>このサイトは自分で制作したプラモデル作品を投稿したり、<br>
         プラモデル制作に使用した道具などを紹介するサイトです。<br>
      </h5>
      <h5 class="text-center">時間の許す限り、楽しんでいってください！！</h5>
    </div>
  </div>
</div>