<div class="col-5">
  <div class="slider">
    <% post_review.review_images.each do |images| %>
      <%= image_tag images.variant(resize: "500x450"), class:"img" %>
    <% end %>
  </div>
  <div class="thumbnail">
    <% post_review.review_images.each do |images| %>
      <%= image_tag images.variant(resize: "55x55"), class:"img" %>
    <% end %>
  </div>
</div>