@use '~bootstrap/scss/bootstrap';

// 画像スライドの矢印
.slick-prev {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  left: -100px;
  top: 300px;
 }

.slick-next {
  font-size: 50px;
  position: absolute;
  z-index: 100;
  right: -100px;
  top: 300px;
 }

.slick-prev:before,
.slick-next:before {
  color: #fff !important;
}

// スライドの選択されている画像サブネイル表示
.thumbnail .slick-current {
  opacity: 0.5;
}

.thumbnail .slick-track {
  transform: unset !important;
}

// スライドのサイズ
.slider {
  object-fit: cover;
}

// トップページスライド
// .top-slider{
//   width: 94%;
//   margin: 0 auto;
// }

// .top-slider img{
//   width: 60vw;
//   height: auto;
// }

// .top-slider .top-slick-slide{
//   transform: scale(0.8);
//   transition: all .5s;
//   opacity: 0.5;
// }

// .top-slider .top-slick-slide.slick-center{
//   transform: scale(1);
//   opacity: 1;
// }


// 画像投稿時のプレビュー
.preview-area{
  display: flex;
  flex-wrap: wrap;
}

.preview-area img{
  width: 24%;
  margin: 0 0 10px;
  object-fit: contain;
}

.preview-area img:not(:nth-child(4n)){
  margin-right: 1.333%;
}

.new-img{
  width: 100px;
  height: 100px;
  margin: 0 5px;
}