.bg-image {
  width: 100%;
  height: 100vh;
  background-image: image-url('background_sample2.jpeg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  position: relative;
}

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  overflow-y: scroll;
}

.card-text {
  color: #000;
}

h1, h4, p {
  color: #fff;
}

// テーブルリストの白線やサイズ
table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.table_item_name, .table_item_title, .table_item_item {
  width: 50%;
}

// リストの黒丸をなしに
ul {
  list-style: none;
}

// ページャの装飾
.pagination>li>a {
  border: none;
  color: #696969;
}

.pagination>.active>a {
  background: #93c9ff;
}

.pagination {
  justify-content: center;
}

// フラッシュメッセージ
.flash-message {
  width: 100%;
  border-radius: 5px;
  padding: 16px 24px;
  margin: 16px 0px;
}

.flash-message.notice {
  background-color: #bcdfff;
  color: #0067C0;
  border: solid 1px #0067C0;
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}