body {
  background: linear-gradient(#00bfff, #87cefa, #fffafa) fixed;
}

table tr {
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.table_item_name, .table_item_title, .table_item_item {
  width: 50%;
}

.image_input_btn{
  display: block;
  width: 180px;
  height: 30px;
  border-radius: 5px;
  padding-top: 2px;
  color: white;
  text-decoration: none;
  text-align: center;
}

.image_form{
  display: none;
}

ul {
  list-style: none;
}